
.reservation-bg{
    /* background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(0,0,0,1) 0.2%, rgba(0,0,0,1) 100.2% ); */
    /* background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%); */
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);

    
}

.reservation-title{
    font-family: marck script;
}

/* .register-top{
    margin: 100px 0;
    border-top: 1px solid #fecd06;
    border-bottom: 1px solid #fecd06;
}

.register-top:hover{
    border-left: 1px solid #fecd06;
    border-right: 1px solid #fecd06;
    border-top: none;
    border-bottom: none;
} */

hr:hover{
    color: darkorange;
}
